<!DOCTYPE html>
<html lang="en">
		<!-- For Companies Information  -->
		<div id="forCompaniesInfo" class="information">
			<p>Vi på Skynet jobbar tillsammans med Örebro Universitet med att förenkla samarbetet mellan företag och studenter.</p>
				
				<p>Vi hjälper er som företag att hitta studenter som är intresserade av ert företag och det jobb ni har att erbjuda.</p> 
				Efter att ni skapat en företagsprofil kan ni ladda upp examensarbeten.
				Studenterna kan välja mellan att bläddra bland alla arbeten och sina rekomenderade arbeten. De kan därefter lämna intresseanmälan på de jobb de är intresserade av.
				Om en intresseanmälan gjorts på erat examensarbete så får ni som företag upp detta och kontaktuppgifter till den intresserade studenten.
				  
			<p>	Låter detta intressant? <strong id="regCompanyLink" class="pointer">Registrera</strong> ett konto redan idag!</p>


		</div>
</html>