<!DOCTYPE html>
<html lang="en">
		<!-- For Students Information  -->
		<div id="forStudentsInfo" class="information">
			<p>Vi på Skynet jobbar tillsammans med Örebro Universitet 
				med att förenkla samarbetet mellan företag och studenter.</p>
				<p>Om du som student väljer att registrera ett konto hos oss kan du
						söka bland examensarbeten som ligger ute i vår databas så du har kontroll över vilka jobbmöjligheter som finns inför ditt examensjobb.</p> 
				<p>	Du kan ladda upp en profil och få förslag på arbeten som matchar din profil samt ansöka bland de arbeten som ligger ute.</p>

				<p>Missa inte detta, <strong id="regStudLink" class="pointer">Registrera</strong> ett konto redan idag!</p>	
				<br>
				<br>
				<div id="FAQ">
					
				</div>
				
		</div>
</html>