 <!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Skynet matchmakers|Welcome</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="index.js"></script>
</head>

<body>
	<div class="topbar">
		<div class="logo" onclick="location.href='index.html';">
			<b>SKYNET</b>
		</div>

		<div class="navMenu">
			<div>
				<button id="registerBtn" class="menuBtn darkerBlueOnHov"> Registrera</button>
				<ul id="registerContainer" class="dropDownContainer">
					<li>
						<a class="showDropDownMenu" id="companyRegBtn">Företag</a>
					</li>
					<li>
						<a class="showDropDownMenu" id="studentRegBtn">Student</a>
					</li>
				</ul>
			</div>

			<div>
				<button id="logInBtn" class="menuBtn darkerBlueOnHov"> Logga in</button>
				<ul id="logInContainer" class="dropDownContainer">
					<li>
						<a class="showDropDownMenu" id="companyLoginBtn" >Företag</a>
					</li>
					<li>
						<a class="showDropDownMenu" id="studentLoginBtn" >Student</a>
					</li>
				</ul>
			</div>
		</div>

	</div>


	<div class="banner">
		<div id="onTopOfBannerImage">
			<h1>Exjobb har aldrig varit enklare!</h1>
			<input type="text" id="searchInput" placeholder="Logga in för att söka.." disabled>
		</div>
	</div>

	<div class="lowNavMenu bColorBlue">
		<button id="aboutBtn" class="menuBtn darkerBlueOnHov"> Start</button>
		<button id="companyBtn" class="menuBtn darkerBlueOnHov"> För företag</button>
		<button id="studentBtn" class="menuBtn darkerBlueOnHov"> För studenter</button>
	</div>
	<div class="info-container" id="option-page-content"></div>

	<div id="modal-test"></div>


<footer>
	<p>&copy Skynet 2018</p>
</footer>
</body>



</html>