<!DOCTYPE html>
<html lang="en">
        <div id="LoginStudentModal" class="modal">
                <div class="modal-content">
                        <span id="closeModal" class="close">&times;</span>

                        <div class="modalLogInContainer">
                                        <p class="r1"> Logga in som student </p>
                                        <br>
                                        <br>
                                        <br>
                                <p id="errLogIn"></p>
                                <input class="width100" type="text" onkeyup="this.value = this.value.replace(/[#&%*<>$¤£]/g, '')" placeholder="Användarnamn" name="uname" id="sName" required>
                                <input class="width100" type="password" onkeyup="this.value = this.value.replace(/[#&%*<>$¤£]/g, '')" placeholder="Lösenord" name="psw" id="sPsw" required>
                                <p>Har du inget konto? <strong id="regLinkS"  class="pointer">Registrera</strong> ett kostnadsfritt!</p>
                                <button class="submitBtn bColorBlue" type="submit" id="OKLogInStudent">LOGGA IN</button>
                        </div>
                </div>
        </div>
</html>