<!DOCTYPE html>
<html lang="en">
    <div id="registerCompanyModal" class="modal">
        <div class="modal-content">
            <!-- <span id="closeRegCompanyModal" class="close">&times;</span> -->
            <span id="closeModal" class="close">&times;</span>
            <p class="r1"> Registrera Företag </p>
            <br>
            <br>
            <p id="errorReg"></p>
            <h3>Företagsinformation</h3>
            <input class="width100" type="text" placeholder="Företagsnamn" name="cname" id="nameC" required>
            <input class="width100" type="text" placeholder="Adress" name="cadress" id="addressC" required>
            <input class="width100" type="text" placeholder="Stad" name="ccity" id="cityC" required>
            <h3>Användaruppgifter</h3>
            <input class="width100" type="text" placeholder="E-post" name="uemail" id="emailC" required>
            <input class="width100" type="text" placeholder="Användarnamn" name="uname" id="unameC" required>
            <input class="width100" type="password" placeholder="Lösenord" id="pswC" name="psw" required>
            <input class="width100" type="password" placeholder="Upprepa lösenord" id="psw2C" name="psw2" required>

            <button id="okRegCompany" class="submitBtn bColorBlue" type="submit">Registrera</button>
        </div>
    </div>

</html>