<!DOCTYPE html>
<html lang="en">
        <div id="registerStudentModal" class="modal">
                <div class="modal-content">
                <span id="closeModal" class="close">&times;</span>
                        <p class="r1"> Registrera Student </p>
                        <br>
                        <br>
                        <p id="errorReg"></p>
                        <h3>Personlig information</h3>
                        <input class="width100" type="text" placeholder="Förnamn" name="ufname" id="ufnameS" required>
                        <input class="width100" type="text" placeholder="Efternamn" name="ulname" id="ulnameS" required>
                        <input class="width100" type="text" placeholder="Stad" name="ucity" id="ucityS" required>
                        <input class="width100" type="text" placeholder="Utbildning" name="ueducation" id="ueducationS" required>
                        

                        <h3>Användaruppgifter</h3>
                        <input class="width100" type="text" placeholder="E-post" name="uemail" id="uemailS" required>
                        <input class="width100" type="text" placeholder="Användarnamn" name="uname" id="unameS" required>
                        <input class="width100" type="password" placeholder="Lösenord" name="psw" id="pswS" required>
                        <input class="width100" type="password" placeholder="Upprepa lösenord" name="psw2" id="pswS2" required>

                        <button id="okRegStudent" class="submitBtn bColorBlue" type="submit">Registrera</button>
                        </div>
                </div>
        </div>
</html>