<!DOCTYPE html>
<html lang="en">
<div class="information">
    <div class="whiteB">
        <!-- <p>Innehåll i myCompanyPages.html</p> -->
        <h2>Redigera examensarbete</h2>
        <div>
            <label class="alignLeft" for="Title">Titel:</label>
            <input class="width50 lowb" type="text" id="Title">
        </div>
        <div>
            <p>Kort beskrivning:</p>
            <textarea class="descriptionBoxes" name="" id="shortDescription" maxlength="150"></textarea>
        </div>
        <div>
            <p>Fullständig beskrivning:</p>
            <textarea class="descriptionBoxes" name="" id="longDescription" maxlength="350"></textarea>
        </div>
        <div>
            <h3>Områden:</h3>
            <div id="keywordsDIV">

                </div>
    </div>

    <br>
    <br>
    <button id="saveBtn" class="btn1">Spara</button>
    <button id="cancelBtn" class="btn1">Avbryt</button>
</div>
</div>


</html>