<!DOCTYPE html>
<html lang="en">
<div class="information">
    <div class="whiteB">
        <!-- <p>Innehåll i myCompanyPages.html</p> -->
        <h2>Redigera examensarbete</h2>
        <div>
            <label class="alignLeft" for="Title">Titel:</label>
            <input class="width50 lowb" type="text" id="Title">
        </div>
        <div>
            <p>Kort beskrivning:</p>
            <textarea class="descriptionBoxes" name="" id="shortDescription" maxlength="150"></textarea>
        </div>
        <div>
            <p>Fullständig beskrivning:</p>
            <textarea class="descriptionBoxes" name="" id="longDescription" maxlength="350"></textarea>
        </div>
        <div>
            <h3>Områden:</h3>
            <div id="KeyWordStack" class="KeyWordStack">

                <button id="AreaBtn" type="button" class="contentShow2 darkerBlueOnHov">Område</button>
                <div id="Area" class="content">
                    <hr>
                    <input type="checkbox" id="AI" class="ChekedKeyWord">
                    <label for="AI">Artificiell intelligens</label>
                    <hr>
                    <input type="checkbox" id="Databaser" class="ChekedKeyWord">
                    <label for="Databaser">Databaser</label>
                    <hr>
                    <input type="checkbox" id="Maskininlärning" class="ChekedKeyWord">
                    <label for="Maskininlärning">Maskininlärning</label>
                    <hr>
                    <hr>
                    <input type="checkbox" id="Robotik" class="ChekedKeyWord">
                    <label for="Robotik">Robotik</label>
                    <hr>
                </div>

                <button id="TypeBtn" type="button" class="contentShow2 darkerBlueOnHov">Typ</button>
                <div id="Types" class="content">
                    <hr>
                    <input type="checkbox" id="Dokumentation" class="ChekedKeyWord">
                    <label for="Dokumentation">Dokumentation</label>
                    <hr>
                    <input type="checkbox" id="Hårdvara" class="ChekedKeyWord">
                    <label for="Hårdvara">Hårdvara</label>
                    <hr>
                    <input type="checkbox" id="Mjukvara" class="ChekedKeyWord">
                    <label for="Mjukvara">Mjukvara</label>
                    <hr>
                    <input type="checkbox" id="Annantyp" class="ChekedKeyWord">
                    <label for="Annat">Annat</label>
                    <hr>
                </div>
                <button id="OperationSystemBtn" type="button" class="contentShow2 darkerBlueOnHov">Operativsystem</button>
                <div id="operationsystems" class="content">
                    <input type="checkbox" id="Android" class="ChekedKeyWord">
                    <label for="Android">Android</label>
                    <hr>
                    <input type="checkbox" id="Windows" class="ChekedKeyWord">
                    <label for="Windows">IOS</label>
                    <hr>
                    <input type="checkbox" id="Linux" class="ChekedKeyWord">
                    <label for="Linux">Linux</label>
                    <hr>
                    <input type="checkbox" id="Windows" class="ChekedKeyWord">
                    <label for="Windows">Windows</label>
                    <hr>
                    <input type="checkbox" id="AnnanOperation" class="ChekedKeyWord">
                    <label for="AnnatOperation">Annat</label>
                    <hr>

                </div>
                <button id="DatabaseBtn" type="button" class="contentShow2 darkerBlueOnHov">Databas</button>
                <div id="Databases" class="content">
                    <input type="checkbox" id="SQL" class="ChekedKeyWord">
                    <label for="SQL">SQL</label>
                    <hr>
                    <input type="checkbox" id="MySQL" class="ChekedKeyWord">
                    <label for="MySQL">MySQL</label>
                    <hr>
                    <input type="checkbox" id="MongoDB" class="ChekedKeyWord">
                    <label for="MongoDB">MongoDB</label>
                    <hr>
                    <input type="checkbox" id="XML" class="ChekedKeyWord">
                    <label for="XML">XML</label>
                    <hr>

                </div>
                <button type="button" id="ProgrammingLanguageBtn" class="contentShow2 darkerBlueOnHov">Programmeringsspråk</button>
                <div id="ProgrammingLanguage" class="content">
                    <input type="checkbox" id="Assembler" class="ChekedKeyWord">
                    <label for="Assembler">Assembler</label>
                    <hr>
                    <input type="checkbox" id="C" class="ChekedKeyWord">
                    <label for="C">C</label>
                    <hr>
                    <input type="checkbox" id="Cs" class="ChekedKeyWord">
                    <label for="Cs">C#</label>
                    <hr>
                    <input type="checkbox" id="Cpp" class="ChekedKeyWord">
                    <label for="Cpp">C++</label>
                    <hr>
                    <input type="checkbox" id="Java" class="ChekedKeyWord">
                    <label for="Java">Java</label>
                    <hr>
                    <input type="checkbox" id="Javascript" class="ChekedKeyWord">
                    <label for="Javascript">Javascript</label>
                    <hr>
                    <input type="checkbox" id="Python" class="ChekedKeyWord">
                    <label for="Python">Python</label>
                    <hr>
                    <input type="checkbox" id="Annatprog" class="ChekedKeyWord">
                    <label for="Annat">Annat</label>
                    <hr>

                </div>
            </div>
        </div>

        <br>
        <br>
        <button  id="saveBtn" class="btn1">Spara</button>
        <button id="cancelBtn" class="btn1">Avbryt</button>
    </div>
</div>


</html>