<!DOCTYPE html>
<html lang="en">
<div class="information">
    <div class="card Shadow">
        <div id="cname" class="userinfo Shadow bColorBlue">
        </div>
        <div id="clogo" class="userinfo">
        </div>
        <div class="card leftShifted">
            <div id="AboutUs">
                <p class="bColorBlue Shadow">Företagsinformation</p>
                <textarea name="About_Us" id="About_Us" cols="32" rows="10" style="background-color: rgb(245, 243, 241); color: black;  " disabled></textarea>

            </div><br>
            <br>
            <br>
            <div id="cInfo" class "userinfo Shadow">
                <p class="bColorBlue Shadow">Adressuppgifter</p>

            </div>
            <hr>
            <div id="cid" class="userinfo">
            </div>
            <div id="caddress" class="userinfo">
            </div>
            <div id="ccity" class="userinfo">
            </div>
            <hr>
            <div id="cemail" class="userinfo">
            </div>
            <div id="cweb" class="userinfo">
            </div>
            <hr>
        </div>
    </div>
</div>

</html>