<!DOCTYPE html>
<html lang="en">
<div class="information">
    <div class="card">
        <div id="cname" class="userinfo Shadow bColorBlue">
        </div>
        <div id="clogo" class="userinfo">
        </div>
        <div class="card leftShifted">
            <div id="About_Us">
                <textarea name="About_Us" id="About_Us" cols="15" rows="20"></textarea>

            </div>
            <div id="cInfo" class "userinfo Shadow">Adressuppgifter

            </div>
            <hr>
            <div id="cid" class="userinfo">
            </div>
            <div id="caddress" class="userinfo">
            </div>
            <div id="ccity" class="userinfo">
            </div>
            <hr>
            <div id="cemail" class="userinfo">
            </div>
            <div id="cweb" class="userinfo">
            </div>
            <hr>
        </div>
    </div>
</div>

</html>