<!DOCTYPE html>
<html lang="en">
<div class=information>
    <div class="whiteB">
        <h2>Min information</h2>
        <div id="clogo" class="userinfo">
        </div>
        <div id="cid" class="userinfo">
            <a>ID: </a>
        </div>
        <div id="cname" class="userinfo">
            <a>Company Name: </a>
        </div>
        <div id="caddress" class="userinfo">
            <a>Address: </a>
        </div>
        <div id="ccity" class="userinfo">
            <a>Address: </a>
        </div>
        <div id="cemail" class="userinfo">
            <a>Email: </a>
        </div>
        <div id="cweb" class="userinfo">
            <a>Website: </a>
        </div>
    </div>
</div>

</html>