<!DOCTYPE html>
<html lang="en">
<div class="information">
    <div class="whiteB">
        <!-- <p>Innehåll i myCompanyPages.html</p> -->
        <h2>Redigera profil</h2>
        <p class="hTextContainer bColorBlue">Företagsinformation</p>
        <div>
            <label class="alignRight" for="c_Name">Företagsnamn:</label>
            <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*<>$¤£]/g, '')" type="text" id="c_Name">
        </div>
            <label class="alignRight" style="vertical-align: top">Om oss:</label>
        
        <textarea class="width50" rows="10" cols="84" onkeyup="this.value = this.value.replace(/[#&%*<>$¤£]/g, '')" type="text" id="about_Us"></textarea>
        <br><br>

        <label class="alignRight" for="c_Address">Adress:</label>
        <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*<>$¤£]/g, '')" type="text" id="c_Address">
        <div>
            <label class="alignRight" for="c_City">Stad:</label>
            <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*<>$¤£]/g, '')" type="text" id="c_City">
        </div>
        <div>
            <label class="alignRight" for="c_WebP">Hemsida:</label>
            <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*<>$¤£]/g, '')" type="text" id="c_WebP">
        </div>
        <div>
            <label class="alignRight" for="c_Logo">Logga URL:</label>
            <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*<>$¤£]/g, '')" type="text" id="c_Logo">
        </div>
        <div>
            <label class="alignRight" for="c_Email">E-post:</label>
            <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*<>$¤£]/g, '')" type="text" id="c_Email">
        </div>
        <p class="hTextContainer bColorBlue">Användaruppgifter</p>
        <div>
            <label class="alignRight" for="c_Uname">Användarnamn:</label>
            <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*<>$¤£]/g, '')" type="text" id="c_Uname">
        </div>
        <div>
            <label class="alignRight" for="c_Psw">Lösenord:</label>
            <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*<>$¤£]/g, '')" type="password" id="c_Psw">
        </div>
        <div id="ErrorMessage">
            <label class="alignRight" for="c_PswConfirm">Bekräfta lösenord:</label>
            <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*<>$¤£]/g, '')" type="password" id="c_PswConfirm">
        </div>
        <br>
        <br>
        <div id = "errorpsw"></div>
        <button class="btn1" id="saveBtn">Spara</button>
        <button class="btn1" id="cancelBtn">Avbryt</button>
        <p class="hTextContainer bColorBlue">Tabort konto</p>
        <div>
            <p>Vill du tabort ditt konto? Tryck i sådantfall på knappen nedan.</p>
            <button class="btn1" id="removeCompanyBtn">Ta bort mitt konto</button>
        </div>
    </div>
</div>

</html>