<!DOCTYPE html>
<html lang="en">

<body>

    <div class="information">
        <div class="whiteB">
            <label class="containerOfKeyWords2 Shadow">Examensarbete</label>
            <br>
            <br>
            <label for="Headline" class="containerOfKeyWords2 Shadow">Titel:</label>
            <br>
            <br>
            <input type="text" placeholder="Titel" name="Headline" id="Headline" class="exjobbInput" required class="Height Shadow">
            <br>
            <br>
            <label for="Headline" class="containerOfKeyWords2 Shadow">Kort beskrivning:</label>
            <br>
            <br>
            <textarea rows="3" cols="55" type="text" placeholder="Kort beskrivning" class="exjobbInput" name="shortSubject" id="shortSubject"
                maxlength="200" required class="Height Shadow"></textarea>
            <br>
            <br>

            <label for="Subject" class="containerOfKeyWords2 Shadow">Fullständig beskrivning:</label>
            <br>
            <br>

            <textarea cols="55" rows="10" type="text" placeholder="Ämne" name="Subject" class="exjobbInput" id="Subject" required class="Height Shadow"></textarea>

            <br>
            <br>
            <br>
            <hr class="Shadow">
            <label id="KeyWordBtn" class="containerOfKeyWords2 Shadow">Nyckelord: </label>
            <br>
            <br>
            <div>
                <label class="bColorBlue Shadow Height">Välj viktiga nyckelord som exjobbet innehåller</label>
                <br>
                <br>
            </div>
            <div id="keywordsDIV">

            </div>
            <div style="display: inline; margin: 2%">
                <br>
                <button id="SaveExJob" class="btn1" >Spara</button>
                <button id="AbortExJob" class="btn1" >Avbryt</button>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
</body>

</html>