<!DOCTYPE html>
<html lang="en">

<body>

    <div class="information">
        <div class="whiteB">
            <h2>Lägg till examensarbete</h2>
            <div>
                <label class="alignLeft" for="Title">Titel:</label>
                <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*<>$¤£]/g, '')" type="text" id="Headline">
            </div>
            <div>
                <p>Kort beskrivning:</p>
                <textarea class="descriptionBoxes" onkeyup="this.value = this.value.replace(/[#&%*<>$¤£]/g, '')" name="" id="shortSubject" maxlength="150"></textarea>
            </div>
            <div>
                <p>Fullständig beskrivning:</p>
                <textarea class="descriptionBoxes" onkeyup="this.value = this.value.replace(/[#&%*<>$¤£]/g, '')" name="" id="Subject" maxlength="5000"></textarea>
            </div>
            <div>
                <h3>Områden:</h3>
            <div id="keywordsDIV">

            </div>
            <div style="display: inline; margin: 2%">
                <div id = "error" ></div>
                <br>
                <button id="SaveExJob" class="btn1" >Spara</button>
                <button id="AbortExJob" class="btn1" >Avbryt</button>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
</body>

</html>