<!DOCTYPE html>
<html lang="en">
<div class=information>
    <div class="whiteB">
        <span id="closeExJob" class="close">&times;</span>
        <div class="jobTop">
            <img id="logga" class="jobLogo">    
            <h2 id="rubrik" class="jobHeader"></h2>            
        </div>
        <div class="jobInformation">
                <b id="shortDescriprion"></b>
                <br>
                <br>
                <b>Om tjänsten</b>
                <p id="longDescriprion"></p>
                <b>Område</b>
                <div id="keyWordArea"></div>
        </div>
        <div class="jobInformation">
<button class="floatRight"> Radera annons</button>
<button class="floatRight"> Redigera annons</button>
<button class="floatRight"> Visa intresseanmälningar</button>
        <div>
            </div>

        </div>
    </div>
</div>

</html>