<!DOCTYPE html>
<html lang="en">
    <div class="information">
        <div class="whiteB">
        <p>Innehåll i mySProfile.html</p>
        <h2>Redigera profil</h2>
        <h4 class="widht100 bColorBlue">Personlig information</h4>
        <div>
        <label class="alignRight" for="sFName">Förnamn:</label>
        <input class="width50 lowb" type="text" id="sFName"> 
        </div>
        <label class="alignRight" for="sLName">Efternamn:</label>
        <input class="width50 lowb" type="text" id="sLName"> 
        <div>
        <label class="alignRight" for="sEdu">Utbildning:</label>
        <input class="width50 lowb" type="text" id="sEdu"> 
        </div>
        <div>
            <p id="pdfStatus">Inget cv uppladdat</p>
            <button type="button" class="bColorBlue mediumBtn" onclick="document.getElementById('PdfUpload').click()">Ladda upp cv(pdf)</button>                        
            <input type="file" style="display: none" id="pdfUpload"> <!--För att ändra den "fula" designen på default download -->                     
            <button type="button" id="pdfOpen" class="bColorBlue mediumBtn">Ladda ned cv(pdf)</button>            
        </div>


        <h4 class="widht100 bColorBlue">Användaruppgifter</h4>
        <div>
        <label class="alignRight" for="sEmail">E-post:</label>
        <input class="width50 lowb" type="text" id="sEmail"> 
        </div>
        <div>
        <label class="alignRight" for="sUname">Användarnamn:</label>
        <input class="width50 lowb" type="text" id="sUname"> 
        </div>
        <div>
        <label class="alignRight" for="sUname">Lösenord:</label>
        <input class="width50 lowb" type="text" id="sPsw"> 
        </div>
        <h4 class="widht100 bColorBlue">Nyckelord</h4>
        <div>
            <div id="KeyWordStack" class="KeyWordStack">
                <button type="button" id="ProgrammingLanguageBtn" class="containerOfKeyWords">Programmeringsspråk</button>
                <div id="ProgrammingLanguage" class="content">
                    <input type="checkbox" id="C" class="ChekedKeyWord">
                    <label for="C">C</label>
                    <hr>
                    <input type="checkbox" id="C#" class="ChekedKeyWord">
                    <label for="C#">C#</label>
                    <hr>
                    <input type="checkbox" id="C++" class="ChekedKeyWord">
                    <label for="C++">C++</label>
                    <hr>
                    <input type="checkbox" id="Java" class="ChekedKeyWord">
                    <label for="Java">Java</label>
                    <hr>
                    <input type="checkbox" id="Javascript" class="ChekedKeyWord">
                    <label for="Javascript">Javascript</label>
                    <hr>
                    <input type="checkbox" id="Python" class="ChekedKeyWord">
                    <label for="Python">Python</label>
                    <hr>
                </div>
                <button id="TypeBtn" type="button" class="containerOfKeyWords">Typ</button>
                <div id="Types" class="content">
                    <hr>
                    <input type="checkbox" id="Hårdvara" class="ChekedKeyWord">
                    <label for="Hårdvara">Hårdvara</label>
                    <hr>
                    <input type="checkbox" id="Mjukvara" class="ChekedKeyWord">
                    <label for="Mjukvara">Mjukvara</label>
                    <hr>
                </div>
                <button id="OperationSystemBtn" type="button" class="containerOfKeyWords">Operativsystem</button>
                <div id="operationsystems" class="content">
                    <input type="checkbox" id="Linux" class="ChekedKeyWord">
                    <label for="Linux">Linux</label>
                    <hr>
                    <input type="checkbox" id="Windows" class="ChekedKeyWord">
                    <label for="Windows">Windows</label>
                    <hr>
                </div>
                <button id="DatabaseBtn" type="button" class="containerOfKeyWords">Databas</button>
                <div id="Databases" class="content">
                    <input type="checkbox" id="SQL" class="ChekedKeyWord">
                    <label for="SQL">SQL</label>
                    <hr>
                    <input type="checkbox" id="MySQL" class="ChekedKeyWord">
                    <label for="MySQL">MySQL</label>
                    <hr>
                    <input type="checkbox" id="MongoDB" class="ChekedKeyWord">
                    <label for="MongoDB">MongoDB</label>
                    <hr>
                    <input type="checkbox" id="XML" class="ChekedKeyWord">
                    <label for="XML">XML</label>
                    <hr>
                </div>
                <button id="RestBtn" type="button" class="containerOfKeyWords">Övrigt</button>
                <div id="TheRest" class="content">
                    <input type="checkbox" id="Dokumentation" class="ChekedKeyWord">
                    <label for="Dokumentation">Dokumentation</label>
                    <hr>
                </div>
        </div>
        <br><br>
        <button id="saveBtn" class="bColorBlue mediumBtn">Spara</button> <button class="bColorBlue mediumBtn">Avbryt</button>
    </div>
</div>
</html>