<!DOCTYPE html>
<html lang="en">
<div class="information">
    <div class="whiteB">
        <h2>Redigera profil</h2>
        <p class="hTextContainer bColorBlue">Personlig information</p>
        <div>
            <label class="alignRight" for="sFName">Förnamn:</label>
            <input class="width50 lowb" type="text" id="sFName">
        </div>
        <label class="alignRight" for="sLName">Efternamn:</label>
        <input class="width50 lowb" type="text" id="sLName">
        <div>
            <label class="alignRight" for="sEdu">Utbildning:</label>
            <input class="width50 lowb" type="text" id="sEdu">
        </div>
        <div>
            <label class="alignRight" for="city">Stad:</label>
            <input class="width50 lowb" type="text" id="city">
        </div>
        <div>
            <p id="pdfStatus">Inget cv uppladdat</p>
            <button type="button" class="bColorBlue mediumBtn" onclick="document.getElementById('pdfUpload').click()">Ladda upp cv(pdf)</button>
            <input type="file" style="display: none" id="pdfUpload">
            <!--För att ändra den "fula" designen på default download style="display: none" -->
            <button type="button" id="pdfOpen" class="bColorBlue mediumBtn">Öppna sparat cv(pdf)</button>
            <br>
            <object id="pdfSpace" class="smoothTransition" width="100%" height="0em" type="application/pdf" trusted="yes" application="yes" standby="Laddar cv"></object>
        </div>


        <p class="hTextContainer bColorBlue">Användaruppgifter</p>
        <div>
            <label class="alignRight" for="sEmail">E-post:</label>
            <input class="width50 lowb" type="text" id="sEmail">
        </div>
        <div>
            <label class="alignRight" for="sUname">Användarnamn:</label>
            <input class="width50 lowb" type="text" id="sUname">
        </div>
        <div>
            <label class="alignRight" for="sPsw">Lösenord:</label>
            <input class="width50 lowb" id="sPsw" type="password">
        </div>
        <p class="hTextContainer bColorBlue">Nyckelord</p>
        <div id="keywordsDIV">

        </div>
        <br>
        <br>
        <button id="saveBtnStudent" class="btn1" onClick="this.disabled = true;">Spara</button>
        <button id="cancelBtnStudent" class="btn1">Avbryt</button>
    </div>
</div>

</html>