<!DOCTYPE html>
<html lang="en">
<div class="information">
    <div class="whiteB">
        <h2>Redigera profil</h2>
        <p class="hTextContainer bColorBlue">Personlig information</p>
        <div>
            <label class="alignRight" for="sFName">Förnamn:</label>
            <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*+<>$¤£]/g, '')" type="text" id="sFName">
        </div>
        <label class="alignRight" for="sLName">Efternamn:</label>
        <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*+<>$¤£]/g, '')" type="text" id="sLName">
        <div>
            <label class="alignRight" for="sEdu">Utbildning:</label>
            <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*+<>$¤£]/g, '')" type="text" id="sEdu">
        </div>
        <div>
            <label class="alignRight" for="city">Stad:</label>
            <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*+<>$¤£]/g, '')" type="text" id="city">
        </div>
        <div id = "ErrorMessageCV">
            <p id="pdfStatus">Inget cv uppladdat</p>
            <button type="button" class="bColorBlue mediumBtn" onclick="document.getElementById('pdfUpload').click()">Ladda upp cv(pdf)</button>
            <input type="file" style="display: none" id="pdfUpload">
            <button type="button" id="pdfOpen" class="bColorBlue mediumBtn">Öppna sparat cv(pdf)</button>
            <br>
            <object id="pdfSpace" class="smoothTransition" width="100%" height="0em" type="application/pdf" trusted="yes" application="yes" standby="Laddar cv"></object>
        </div>


        <p class="hTextContainer bColorBlue">Användaruppgifter</p>
        <div>
            <label class="alignRight" for="sEmail">E-post:</label>
            <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*+<>$¤£]/g, '')" type="text" id="sEmail">
        </div>
        <div>
            <label class="alignRight" for="sUname">Användarnamn:</label>
            <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*+<>$¤£]/g, '')" type="text" id="sUname">
        </div>
        <div>
            <label class="alignRight" for="sPsw">Lösenord:</label>
            <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*+<>$¤£]/g, '')" id="sPsw" type="password">
        </div>
        <p class="hTextContainer bColorBlue">Nyckelord</p>
        <div id="keywordsDIV">
        </div>
        <br>
        <br>
        <div id = "ErrorMessage">
            <label class="alignRight" for="sPsw">Bekräfta lösenord:</label>
            <input class="width50 lowb" onkeyup="this.value = this.value.replace(/[#&%*+<>$¤£]/g, '')" id="sPswConfirm" type="password">
        </div>
        <div id = "errorpsw"></div>
        <button id="saveBtnStudent" class="btn1">Spara</button>
        <button id="cancelBtnStudent" class="btn1">Avbryt</button>
        <p class="hTextContainer bColorBlue">Ta bort konto</p>
        <div>
            <p>Vill du ta bort ditt konto? Tryck i sådantfall på knappen nedan.</p>
            <button class="btn1" id="removeStudentBtn">Ta bort mitt konto</button>
        </div>
    </div>
</div>

</html>