<!DOCTYPE html>
<html lang="en">
<div class=information>
    <div class="whiteB">
        <span id="closeExJob" class="close">&times;</span>
        <div class="jobTop">
            <img id="logga" class="jobLogo">
            <h2 id="rubrik" class="jobHeader"></h2>
        </div>
        <div class="jobInformation">
            <b id="shortDescriprion"></b>
            <br>
            <br>
            <b>Om tjänsten</b>
            <p id="longDescriprion"></p>
            <b>Arbetet involverar:</b>
            <div id="keyWordArea"></div>
        </div>
        <br>
        <div id="interestDiv">
            <div>
                <p>Kort meddelande:</p>
                <textarea class="descriptionBoxes" onkeyup="this.value = this.value.replace(/[#&%*+<>$¤£]/g, '')" name="" id="Interestmessage" maxlength="150"></textarea>
            </div>
            <p id="warningTextInterestJob"></p>
            <button class="floatRight btn1" id="makeInterestSubmit"> Lämna intresseanmälan </button>
        </div>
        <div>

        </div>
    </div>
</div>

</html>