<!DOCTYPE html>
<html lang="en">
    <div id="SCatalog" class="information">
        <div class="whiteB">
            <div class="searchContainer">
        <input type="text" id="searchInput" onkeyup="this.value = this.value.replace(/[#&%*+<>$¤£]/g, '')" placeholder="Vilket område vill du jobba med?">
        <div id="searchKeyContainer">
        <ul id="myUL" class="hide">
        </ul>
    </div>
    </div>
        <div id="workAnnouncement">
                <img class="loadingImg" id="loadImg" src="LoadingImg.svg" position>
        </div>
    </div>
</div>
</html>