<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Skynet matchmakers|Student pages</title>
    <link rel="stylesheet" type="text/css" href="../../style/style.css">
    <script type="text/javascript" src="../../script/script.js"></script>
    <!-- <script type="text/javascript" src="studentUser.js"></script> -->
</head>

<body>
    <div class="topbar">

        <div class="logo" onclick="location.href='index.html';">
            <b>SKYNET</b>
        </div>
        <div class="navMenu">
            <div>
                <button id="logOutStudentBtn" class="menuBtn darkerBlueOnHov"> Logga ut </button>
            </div>
        </div>
    </div>

    <div class="bannerStudent">
    </div>
    <div class="lowNavMenu bColorBlue">
        <button class="menuBtn bColorBlue darkerBlueOnHov" type="submit" id="myInfoBtn">Min information</button>
        <button class="menuBtn bColorBlue darkerBlueOnHov" type="submit" id="interestsBtn">Mina intresseanmälningar</button>
        <button class="menuBtn bColorBlue darkerBlueOnHov" type="submit" id="mySPagesBtn">Redigera information</button>
        <button class="menuBtn bColorBlue darkerBlueOnHov" type="submit" id="recomendedJobBtn">Rekomenderade jobb</button>
    </div>
    <div id="menu-page-content"></div>

</body>

</html>